<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Información Del Personaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content">

    @if (isLoading()) {
      <div class="loader">
        <ion-spinner name="lines"></ion-spinner>
      </div>
    }

    @if (!isLoading() && character()) {
      <ion-row>
        <ion-card class="character-card">
          <!-- Imagen del personaje -->
          <ion-img [src]="character()!.image" class="character-image"></ion-img>
          
          <ion-card-content>
            <!-- Información básica -->
            <h2 class="ion-text-center">{{ character()!.name }}</h2>
            <p class="description">{{ character()!.description }}</p>
    
            <!-- Afiliación -->
            <ion-chip color="success" class="ion-margin-auto affiliation-chip">
              {{ character()!.affiliation }}
            </ion-chip>
    
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-badge color="tertiary" class="badge">Género</ion-badge>
                  <div class="ion-text-center"><strong>{{ character()!.gender == 'Male' ? 'Masculino' : 'Femenino' }}</strong></div>
                </ion-col>
                <ion-col size="6">
                  <ion-badge color="secondary" class="badge">Raza</ion-badge>
                  <div class="ion-text-center"><strong>{{ character()!.race }}</strong></div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-badge color="success" class="badge">Base Ki</ion-badge>
                  <div class="ion-text-center"><strong>{{ character()!.ki }}</strong></div>
                </ion-col>
                <ion-col size="6">
                  <ion-badge color="warning" class="badge">Total Ki</ion-badge>
                  <div class="ion-text-center"><strong>{{ character()!.maxKi }}</strong></div>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <!-- Información del planeta de origen -->
             @if (character()!.originPlanet) {
               <ion-card class="planet-card ion-text-center">
                 <ion-card-header>
                   <ion-card-title style="font-size: 25px; color: white;">Planeta de Origen</ion-card-title>
                 </ion-card-header>
                 <ion-img [src]="character()!.originPlanet.image" class="planet-image"></ion-img>
                 <ion-card-content>
                   <h3>{{ character()!.originPlanet.name }}</h3>
                   <p class="description">{{ character()!.originPlanet.description }}</p>
                 </ion-card-content>
               </ion-card>
             }
    
            <!-- Transformaciones -->
             @if (character()!.transformations.length) {
               <ion-card>
                 <ion-card-header>
                   <ion-card-title style="font-size: 25px; color: white;">Transformaciones</ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                   <ion-grid>
                     <ion-row>
                      @for (transformation of character()!.transformations; track $index) {
                        <ion-col size="12" class="transformation-col">
                          <ion-card class="transformation-card">
                            <ion-img [src]="transformation.image" class="transformation-image"></ion-img>
                            <ion-card-content>
                              <h4 class="ion-text-center">{{ transformation.name }}</h4>
                              <ion-badge color="tertiary" class="transformation-badge">Ki: {{ transformation.ki }}</ion-badge>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      }
                     </ion-row>
                   </ion-grid>
                 </ion-card-content>
               </ion-card>
             }
          </ion-card-content>
        </ion-card>
      </ion-row>
    }
  </div>
</ion-content>
