.version {
    font-size: 14px;
}

ion-card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 500px; /* Limitar el ancho de las tarjetas */
    margin: 0 auto; /* Centrar las tarjetas */
}

ion-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

ion-card-header {
    padding: 0;
}

ion-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

ion-chip {
    font-size: 0.9em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

ion-badge {
    font-size: 0.8em;
    margin-bottom: 5px;
}
